<form (ngSubmit)="onNotifyTrucks(f)" #f="ngForm">
  <div class="monitoring">
      <div class="monitoring__controls">
        <label class="fa fa-heartbeat">
          <input type="checkbox" name="" class="monitor-show">
        </label>
      </div>
      <div class="trucks-stats">
        <input 
          type="text" 
          class="form-control"
          placeholder="Broadcast Message"
          name="broadcastMessage"
          ngModel
          required
          minlength="3"
        >
        <div class="stats">
          <h1>5</h1>
          <span>trucks</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Notify Trucks</button>
      </div>
    </div>
  </form>